.test {
	background: #fff;
	color: #07c;
	max-width: initial;
	padding: 4px;
}
@media screen and (min-width: 40em) {
	.test {
		max-width: 48rem;
		padding: 8px;
	}
}
@media screen and (min-width: 52em) {
	.test {
		max-width: 64rem;
	}
}
