body {
	background-color: theme(colors.background);
	color: theme(colors.text);
	font-family: theme(fonts.sans);
	font-size: theme(fontSizes.base);
}

button {
	border: th(colors.primary) theme(borderStyles.1) theme(space.1);
	border-radius: theme(radii.2) / th(radii.4);
}

.test {
	color: theme(colors.primary);
	font-size: theme(fontSizes.1) !important;
	margin: 0 auto;
	padding: 0 theme(space.3) 3px;
}
